@use 'mixin/titre1';
@use 'mixin/titre2';
@use 'variables';
.accueil{
    overflow-x: hidden;
    text-align: center;
    position: relative;
    h1 {
        @include titre1.title1;
    }
    
    h2 {
        font-weight: 800;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
        color: rgb(2, 129, 12);
    }
}

.accueil__services {
    background-color: variables.$terciere;
    
   .service--un{
       background-color: variables.$secondaire;
   }

   .service--trois{
    background-color: variables.$secondaire;
}
}
