@use 'mixin/titre1';
@use 'mixin/titre2';
@use 'mixin/titre3';
@use 'mixin/text';
@use 'mixin/survole';
@use 'variables';
@use 'mixin/dons';
.accueil{
    overflow-x: hidden;
    text-align: center;
    position: relative;
    h1 {
        @include titre1.title1;
    }
    
    h2 {
        font-weight: 800;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
        color: rgb(2, 129, 12);
    }
    &__nouvelle{
        height: 620px;
        width: 100%;
        position: relative;
        background-color: variables.$primaire;
        padding-top: 73px;
        text-align: center;
        display: flex;
        justify-content: center;
        &__titre{
            @include titre2.title2;
            position: absolute;
        }
        .swiper-nouvelle{
            margin-top: 100px;
            width: 100%;
        }
        &__cartes{
            position: relative;
            .carte{
            position: relative;
            height: 392px;
            width: 273px;
            border-radius: 16px;
            background-color: white;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__contraste{
                position: absolute;
                background-color: rgba(231, 0, 0, 0);
                height: 100%;
                width: 100%;
                }
            img{
                width: 100%;
                height: 200px;
                top: 0;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
            &__info{
            padding: 24px 24px 0px 24px;
            h4{
                @include titre3.title3;
                text-transform: none;
            }
            &__desc{
                @include text.text;
            }
        }
            &__footer{
                width: 100%;
                color: variables.$titleColor;
                position: relative;
                @include titre3.title3;
                display: flex;
                justify-content:space-between;
                padding: 50px 20px 0px 20px;
                a{
                    color: variables.$titleColor;
                }
            }
            }
        }
    }
    &__temoignage{
        position: relative;
        display: flex;
        background-image: url(../sources/medias/bloc_temoignage_mains.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 415px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        text-align: center;

        &__titre{
            @include titre2.title2;
            color: white;
            position: absolute;
            z-index: 10;
            top: 43px;
        }

        &__contraste{
        background-color: rgb(0, 0, 0);
        opacity: 37%;
        height: 415px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        }
        .swiper-temoignage{
            width: 100%;
        }
        &__cartes{
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            align-items: center;
          //  justify-content: space-evenly;
        
        .swiper-wrapper{
            justify-content: space-evenly;
        }
        .temoignage{
            width: 284px;
            height: 148px;
            background-color: white;
            z-index: 25;
            border-radius: 12px;
            position: relative;
            &--media{
                img{
                    width: 76px;
                    height: 76px;
                    border-radius: 50%;
                    position: absolute;
                    top:-33px;
                    left:25px;
                    border: 4px white solid;
                    object-fit: cover;
                  object-position:center;    
                }
            }
            &--1{
                .temoignage--nom{
                    margin-left: 11px;
                }
                .temoignage--ville{
                    margin-left: 2px;
                }
            }
            &--3{
                .temoignage--nom{
                    margin-left: 30px;
                }
            }
                &--nom{
                    @include titre3.title3;
                }
                &--ville{
                    @include text.text;
                    font-size: 9px;
                }
                &--desc{
                    text-align: left;
                    padding: 10px;
                    @include text.text;
                    font-weight: 600;
                }
        }
        
    }
    }
}

.accueil__services {
    background-color: variables.$terciere;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   .service--un{
       background-color: variables.$secondaire;
   }

   .service--trois{
    background-color: variables.$secondaire;
}

.service{
    height:329px;
    &--media{
        width:63px;
        height:63px;
        margin-top:20px;
    }
    &--titre{
        @include titre2.title2;
        color:white;
    }
    &--desc{
        color:white;
        margin: 20px 40px 20px 40px;
    }
    &--bouton{
        color: variables.$titleColor;
        font-size: 20px;
        &:hover{
            text-decoration: none;
            @include survole.survole;
            color: variables.$titleColor;
        }
    }
  }
}
@media (min-width: 992px){
    .accueil__temoignage__cartes{
        justify-content: space-evenly;
    }
    .accueil__nouvelle__cartes{
        justify-content: space-evenly;
    }
}
@media (max-width: 992px){
    .accueil__services{
        .service{  
            height: 259px;
        &--desc{
            font-size: 12px;
        }
        &--titre{
            font-size: 18px; 
        }
        &--bouton{
            font-size: 12px;
        }
        &--media{
            width: 41px;
            height: 41px;
        }
      }
    }
    .accueil{
        &__nouvelle{
            position: relative;
            width: 100%;
            height: 831px;
            .swiper-nouvelle{
                margin-top: 50px;
            }
            &__cartes{
                margin-top: 60px;
                .swiper-slide-active{
                    transform: scale(1.2);
                    z-index: 30;
                    .carte__contraste{
                        background-color: rgba(255, 255, 255, 0)
                    }
                }
                .carte{
                    height: 485px;
                    width: 339.83px;
                    &__contraste{
                    background-color: rgba(0, 0, 0, 0.18);
                    border-radius: 16px;
                    }
                    img{
                        height: 249px;
                        width: 100%;
                    }
                    &__info{
                        padding: 24px 24px 0px 24px;
                        h4{
                            font-size: 22px;
                        }
                        &__desc{
                            font-size: 18px;
                        }
                    }
                        &__footer{
                            font-size: 20px;
                        }
                }
            }
        }
        &__temoignage{
            position: relative;
            width: 100%;
            height: 383px;
            &__contraste{
            height: 383px;
            }
            &__titre{
                font-size: 31px;
            }
            &__cartes{
                margin-top: 50px;
                .swiper-slide-active{
                    transform: scale(1.5);
                    z-index: 30;
                    opacity: 1 !important;
                }
                .temoignage{
                    width: 247px;
                    height: 129px;
                    opacity: 0.78;
                
                    &--media{
                        img{
                            width: 66px;
                            height: 66px; 
                        }
                    }

                    &--nom{
                        font-size: 13px;
                    }
                    &--ville{
                        font-size: 7px;
                    }
                    &--desc{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width : 768px){
    .accueil__services{
        grid-template-columns: 1fr;
        .service{  
            height: 120px;
        &--desc{
            display: none;
        }
        &--titre{
            font-size: 18px;
        }
        &--bouton{
            font-size: 12px;
        }
        &--media{
            width: 44px;
            height: 44px;
        }
      }
    }
    .accueil{
        &__nouvelle{
            position: relative;
            width: 100%;
            height: 592px;
            &__cartes{
                margin-top: 60px;
                .swiper-slide-active{
                    transform: scale(1.3);
                    z-index: 40;
                }
                .carte{
                    height: 296px;
                    width: 206px;
                    &__contraste{
                    background-color: rgba(0, 0, 0, 0.18);
                    border-radius: 16px;
                    }
                    img{
                        height: 101px;
                        width: 100%;
                    }
                    &__info{
                        h4{
                            font-size: 13px;
                        }
                        &__desc{
                            font-size: 11px;
                        }
                    }
                        &__footer{
                            font-size: 12px;
                            padding-top: 30px;
                        }
                }
            }
        }
        &__temoignage{
            height: 370px;
            &__contraste{
            height: 370px;
            }
            &__titre{
                font-size: 31px;
            }
            &__cartes{
                margin-top: 50px;
                .swiper-slide-active{
                    transform: scale(1.3);
                    z-index: 30;
                    opacity: 1 !important;
                }
                .temoignage{
                    width: 232px;
                    height: 121px;
                    opacity: 0.78;
                
                    &--media{
                        img{
                            width: 62px;
                            height: 62px; 
                        }
                    }

                    &--nom{
                        font-size: 14px;
                    }
                    &--ville{
                        font-size: 6px;
                    }
                    &--desc{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.don{
   &--fond{
    width: 100vw;
    height: 50vw;
  
   }
   
&--media{
    width: 80px;
    height: 80px;
}

&--mission{
    @include text.text;
    color: white;
   font-size: 30px;
   font-weight: bold;
   margin-top: 10%;
   margin-bottom: 2%;
}
&--ligne{
    height: 20px;
}
}

.accueil__don{ 
    .don{
    &--valeur{
        @include titre1.title1;
    }
    &--titre{
        @include text.text;
        color:white;
        font-weight: 700;
    }  
}
.don--fond{
   background-image: url(../sources/medias/bloc_don_eau.JPG);
   background-repeat: no-repeat;
   background-size: cover;
   height : 49vw;
   padding-top: 2%;
   position: relative;
}
}

.don--container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.don--btn{
    @include dons.dons;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 0);
    z-index: 21;
}


@media (max-width: 992px){
    .don{
        &--mission{
         font-size: 20px;
         margin-top: 60px !important; 
        }   
        &--media{
         width: 50px;
         height: 50px;  
        }
      &--valeur{
          font-size: 25px !important;
      }
      &--container{
        margin-top: 50px;
    }
    &--btn{
        bottom: 15%;
    }

    }
  
}

@media (max-width: 768px){
    .don{
        grid-template-columns: 1fr 1fr ;
        
        &--mission{
         font-size: 18px;
         margin-top: 10px !important;
        }   
        &--media{
         width: 30px;
         height: 30px;  
        }
      &--valeur{
          font-size: 21px !important;
      }
      &--container{
          margin-top: 10px;
         display: grid; 
          row-gap: 30px;
      }
      &--titre{
          font-size: 9px !important;
      }
      
    }
}

@media (max-width: 1000px){
    .don{
        &--mission{
         font-size: 18px;
        }   
        &--media{
         width: 30px;
         height: 30px;  
        }
      &--valeur{
          font-size: 21px !important;
      }
      &--titre{
          font-size: 9px !important;
      }
      &--fond{
          height: 471px !important;
      }
      &--btn{
        bottom: 10%;
    }
      
    }
   
}


@media (max-width: 1300px){
    .don{
        &--mission{
         margin-top: 20px; 
        }   
        &--media{
         width: 50px;
         height: 50px;  
        }
    
      &--container{
        margin-top: 50px;
    }
    &--btn{
        bottom: 10%;
    }
    }
}

@media(max-width: 1668px){
    .don{
        &--btn{
            bottom:8%;
        }
    }
    .don--coeurs{
       position: relative;
       margin-top: 9%;
    }
}

@media (max-width: 1624px){
    .don--coeurs{
        position: relative;
        margin-top: 8%;
     }
}

@media (max-width: 1552px){
    .don--coeurs{
        position: relative;
        margin-top: 5%;
     }
}


/*hr.don--separation{
    border: 3px solid white;
    background-color: white;
    width: 70%;
    margin-left: 15%;
    position: relative;
    top: 10%;
}
*/


.don--coeur02{
   position: absolute;
   width: 20px;
   height: 20px;
   z-index:20;
   left: 44%;
   transform: translate(-44%, 0);
   bottom: 20%;
  }
  
  .don--coeur03{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 46%;
    transform: translate(-46%, 0);
    z-index:20;
    bottom: 20%;
  }
  
  .don--coeur04{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index:20;
    left: 49%;
    transform: translate(-49%, 0);
    bottom: 20%;
  }
  
  .don--coeur05{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 52%;
    transform: translate(-52%, 0);
    z-index:20;
    bottom: 20%;
  }
  
  .don--coeur06{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index:20;
    left: 55%;
    transform: translate(-55%, 0);
    bottom: 20%;
  }
