@use 'variables';
@use 'mixin/text';
@use 'mixin/titre1';

.nouvelleBackground{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: 0%;
    background-image: url(sources/medias/accueil_arbre_hero.jpg);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.nouvelleTitre{
    @include titre1.title1;
    color: variables.$titleColor;
}

/*.nouvelleTexte{
    display: block;
    position: relative;
    width: 1000px;
    height:auto;
}*/

.nouvelleImage{
    width:20%;
    height:auto;
}

.blocNouvelle{
    color: variables.$terciere;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;

}
.textNouvelle{
    width:70vw;
}
