@use 'variables';
@use 'mixin/text';
@use 'mixin/titre1';


.autreService{
    display: grid;
    background-color:variables.$primaire ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 32px;
    gap:20px;
    text-decoration: none !important;
   }

   .lienTitre{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nImage{
    width:100%;
    object-fit: cover;
    height: 100%;
   }
.lienService{
    background-color: white;
    padding: 10px;
    height: 450px;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 1fr;
    text-decoration-line:none !important;
    
    &h2{
        text-decoration: none !important;
    }
}

.lienService:hover{
    color: variables.$titleColor;
}
a{
    text-decoration:none;
}
@media screen and (max-width: 1199px){
    .autreService{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .lienService{
        grid-template-columns:50% 1fr;
        grid-template-rows:  1fr;
        height: 300px;
    }
    
    .serviceImage{
        width:30vw;
        height:50%;
    }
}
@media screen and (max-width: 900px){
    .autreService{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .lienService {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 1fr;
        width:100%;
        margin-top:2vh;
        height: 300px;
    }
    .lienTitre{
        margin-top:0vh;
    }
    
    .serviceImage{
        width:100%;
        height:auto;
    }

}
