@use 'variables';
@use 'mixin/text';
@use 'mixin/titre1';

.cat--action{
    background-image: url(assets/accueil_arbre_hero.jpg);
}
.cat--environnement{
    background-image: url(assets/bloc_temoignage_mains.jpg);
}
.cat--recette{
    background-image: url(assets/accueil_paysage_hero.jpg);
}
.cat--bourse{
    background-image: url(assets/accueil_foret_hero.jpg);
}
.nouvelleBackground{
    display: flex;
    position: relative;
    color: white;
    padding: 32px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: 0%;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
}
.nouvelleTitre{
    @include titre1.title1;
    color: variables.$titleColor;
}
.blocPublie{
    color: variables.$primaire;
}
.nouvelleImage{
    width:30vw;
    height:50%;
}
.nouvelleContraste{
    background-color: black;
    opacity: 61%;
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    display: inline;
}
.categorieNouvelle{
    color: variables.$primaire;
    margin-bottom: 5vh; 
}
.blocNouvelle{
    background-color: variables.$terciere;
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;

}
.textNouvelle{
    width:70vw;
    margin-top: 5vh;
    margin-bottom: -5vh;
}
.autreNouvelle{
 display: grid;
 background-color:variables.$primaire ;
 grid-template-columns: 1fr 1fr 1fr;
 padding: 32px;
 gap:20px;
 text-decoration: none !important;
 height: 350px;
}
.nImage{
 width:20vw;
 
}
a{
    text-decoration:none;
}
.lienNouvelle{
    background-color: white;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: center;
    text-decoration-line:none !important;
    
    &h2{
        text-decoration: none !important;
    }
}
.lienNouvelle:hover{
    color: variables.$titleColor;
}
.blocTitreNouvelle{
    z-index: 3;
}
.blocImageCategorie{
    z-index: 3;
    color: white;
    text-decoration: none;
    margin-right: 32px;
    &::before{
        content: ' ';
    }

}

@media screen and (max-width: 1199px){
    .blocNouvelle{height: 200vh;}
    .autreNouvelle{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .nImage{
        width:40vw;
        margin-top: 10vh;
    
    }
    .textNouvelle{
        margin-bottom: -40vh;
        margin-top: -10vh;
    }
    .lienNouvelle {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width:100vw;
        
    }
    .lienTitre{
        margin-top:8vh;
    }
    .nouvelleBackground{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nouvelleImage{
        width:50vw;
        height:auto;
    }
}
@media screen and (max-width: 375px){
    .blocNouvelle{height: 200vh;}
    .autreNouvelle{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .nImage{
        width:40vw;
        margin-top: 0vh;
    
    }
    .textNouvelle{
        margin-bottom: -7vh;
        margin-top: 10vh;
    }
    .lienNouvelle {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width:100vw;
        margin-top:2vh;
        
    }
    .lienTitre{
        margin-top:0vh;
    }
    .nouvelleBackground{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nouvelleImage{
        width:100vw;
        height:auto;
    }

}

