@use 'variables';
@use 'mixin/titre1';
@use 'mixin/titre2';

.erreur{
    @include titre1.title1;
    color: variables.$titleColor;
    text-align: center;
}
.text{
    @include titre2.title2;
    color: variables.$secondaire;
    text-align: center;
}
.textblock{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.plant{
    display:block;
    width:20vw;
    height: auto;
    bottom: 0;
    position: absolute;
}
.E404{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: variables.$terciere;
}
.water{
    opacity:0%;
    margin-left: 72%;
}
.goute{
    opacity:0%;
    margin-left: 10%;
}
@media screen and (min-width: 1000px ){
    .text {font-size: 100px;}
    .erreur{font-size: 150px;}
    }