@use 'variables';
@use 'mixin/titre1';
@use 'mixin/titre2';

.erreur{
    @include titre1.title1;
    color: variables.$titleColor;
}
.text{
    @include titre2.title2;
    color: variables.$secondaire;
}
.textblock{
    margin-top: 15%;
}
.plant{
    display:block;
    transform: translate(20%, 0%);
}