@use 'mixin/dons';
@use 'variables';
@use 'mixin/titre3';
@use 'mixin/text';

.footer{
    height: 330px;
    background-color: variables.$secondaire;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding-top: 20px;
    position: relative;

    &__separator{
        border-left: 2px solid rgb(255, 255, 255);
        height: 289.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__contact{
        margin-left: 82.5px;
        &__btn{
            @include dons.dons;
            font-size: 14px;
            margin-bottom: 19px;
            width: 151px;
            height: 30px;
            .heart{
                height: 12px;
                width: 13px;
            }
        }
        h4{
            @include titre3.title3;
        }
        p{
            @include text.text;
        }

    }
}

@media (max-width: 768px){
    .footer{
        height: 463px;
        grid-template-columns:1fr;
        text-align: center;
        font-size: 17px;
        &__separator{
            display: none;
        }
        &__contact{
            margin-left: 0;
        }
    }
}