@use 'mixin/titre3';
@use 'mixin/text';
@use 'variables';
@use "sass:color";

  .hubService{
    background-color: variables.$primaire;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:left;
    position:relative;
    width: 100%;
    padding:32px;
    a{
        text-decoration: none;
        color: black;
    }
  &__carte{
    padding:16px;
    background-color: #fff;
    margin-bottom:40px;
    overflow: hidden;
    width: 100%;
    height: 350px;
    display:grid;
    gap:16px;
    grid-template-columns: 45% 1fr;
    grid-template-rows: 1fr;
    &:hover{
        background-color: color.adjust(variables.$terciere, $lightness: 50%);
        cursor: pointer;
    }
    &--first{
        background-color: variables.$terciere;
      color:white;
      &:hover{
        background-color: color.adjust(variables.$terciere, $lightness: -10%);
        cursor: pointer;
    }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit:cover;
      
    }
    &__img{
      overflow: hidden;
    }
    &__info{
      margin: auto 0;
      overflow: hidden;
    }
    .carte{
      &--titre{
        @include titre3.title3;
      }
      &--desc{
        @include text.text;
      }
    }
  }
  }
  @media (max-width: 768px){
    .hubService{
      &__carte{
        grid-template-rows: 60% 1fr;
        grid-template-columns: 1fr;
        height: 500px;
      }
    }
  }
  @media (max-width: 462px){
    .hubService{
      &__carte{
        height: 500px;
      }
    }
  }