@use 'mixin/text';
@use 'mixin/titre3';
@use 'mixin/dons';
@use 'variables';

.navbar {
    z-index: 20;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 26px;
    padding-left: 20px;
    text-align: center !important;
    margin-right: 172px;
    .collapse {
        justify-content: center !important;
        text-align: center !important;
    }

    .navbar-toggler {
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: url(https://flyclipart.com/thumb2/pete-pedro-styling-aid-charts-842796.png);
        width: 28px;
        height: 21px;
    }

    .nav-link {
        @include text.text;
        color: white !important;
        padding-left: 0px ;
        padding-right: 23px ;
        a{
            color: inherit;
            text-decoration: none;
            &:hover{
            color: variables.$titleColor;
            text-decoration: none;
        }
        }
        
    }

    .nav-text {
        padding-top: 5px;
    }

    &__btn {
        a{
        @include dons.dons;
        &:hover{
            text-decoration: none !important;
            color:white !important;
        }
    }}
    .dropdown-menu{
        background-color: rgba(0, 0, 0, 0.733);
        }
    .dropdown-item{
        
        color: white !important;
        &:hover{
            color: variables.$titleColor !important;
            text-decoration: none !important;
            background-color: rgba(0, 0, 0, 0.349) !important;
    }
    }
}
@media (max-width: 992px){
    .navbar{
    margin-right: auto;
    }
}
@media (max-width: 1054px){
    .navbar{
    margin-right: 10px;
    }
}