@font-face {
    src: url("assets/Segoe UI Bold.d711a54c.woff") format("woff");
    font-family: "Segoe UI Bold";
}

@font-face {
    src: url("assets/Segoe UI.f424915a.woff") format("woff");
    font-family: "Segoe UI";
}

$title : "Segoe UI Bold";
$text : "Segoe UI";
$primaire : #EDEBE8;
$secondaire : #041C04;
$terciere : #476064;
$titleColor : #ECB338;
