@font-face {
    src: url("/police/Segoe UI Bold.woff") format("woff");
    font-family: "Segoe UI Bold";
}

@font-face {
    src: url("/police/Segoe UI.woff") format("woff");
    font-family: "Segoe UI";
}

$title : "Segoe UI Bold";
$text : "Segoe UI";
$primaire : #EDEBE8;
$secondaire : #041C04;
$terciere : #476064;
$titleColor : #ECB338;
