@use 'partials/variables';
@use 'partials/navbar';
@use 'partials/accueil';
@use 'partials/caroussel';
@use 'partials/footer';
@use 'partials/mixin/titre1';
@use 'partials/erreur_404';

*{
    box-sizing: border-box;
  }
  .navbarOpen{
    background-color: rgba(0, 0, 0, 0.733);
    width: 100%;
}
body{
  overflow-x: hidden;
}