@use 'partials/variables';
@use 'partials/navbar';
@use 'partials/accueil';
@use 'partials/caroussel';
@use 'partials/footer';
@use 'partials/mixin/titre1';
@use 'partials/erreur_404';
@use 'partials/detailleNouvelle';
@use 'partials/headerGeneral';
@use 'partials/equipe';
@use 'partials/hubNouvelle';
@use 'partials/hubServices';
@use 'partials/description';
*{
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
  }
  .navbarOpen{
    background-color: rgba(0, 0, 0, 0.733);
    width: 100%;
}
header{
  position: absolute;
  width: 100%;
}