.erreur{
    font-family: 'Segoe UI';
    font-size: 45px;
    color:#ECB338;
}
.text{
    font-family: 'Segoe UI';
    font-size: 31px;
    color:#000000;
}
.textblock{
    margin-left: 40%;
    margin-top: 300px;
}
.plant{
    transform: translate(20%, 50%);
}